<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.jeonpeace.spring.test.mybatis.repository.RealEstateRepository">
	<select id="idSelectRealEstate" parameterType="int" resultType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
	</select>
	
	<select id="rentSelectRealEstate" parameterType="int" resultType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`rentPrice` <![CDATA[<]]> #{rent}
	</select>
	
	<select id="areaPriceSelectRealEstate" parameterType="int" resultType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`area` <![CDATA[>=]]> #{area} AND `price` <![CDATA[<=]]> #{price}
 		ORDER BY
 			`createdAt`
 		DESC
	</select>	
	
	<insert id="insertRealEstate" parameterType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
		INSERT
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
		)
		VALUE
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
		)
	</insert>
	
	<insert id="insertRealEstate2" parameterType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
		INSERT
			`real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
		)
		VALUE
		(
			#{realtorId}		
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
		)	
	</insert>
	
	<update id="updateTypePriceById" parameterType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
		UPDATE
			`real_estate`
		SET
			`type` = #{type}, `price` = #{price}, `updatedAt` = now()
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteById" parameterType="com.jeonpeace.spring.test.mybatis.domain.RealEstate">
		DELETE FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</delete>
	
</mapper>
