<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>통나무 팬션</title>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="/pension/main/css/style.css">
    </head>

    <body>
        <div id="wrap">
            <header class="bg-secondary">
                <div class="main-logo bg-white d-flex align-items-center justify-content-center">
                    <div class="display-4">통나무 팬션</div>
                </div>
            </header>
            <section class="contents">
                <nav class="main-menu d-flex align-items-center">
                    <ul class="nav nav-fill w-100">
                        <li class="nav-item"><a href="#" class="nav-link text-white">펜션소개</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">객실보기</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">예약안내</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">커뮤니티</a></li>
                    </ul>
                </nav>
                <article class="banner">
                    <img id="bannerImg" class="w-100 h-100" src="http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg">
                </article>
                <div class="main-contents d-flex">
                    <div class="col-4 d-flex align-items-center justify-content-center display-4 text-white">
                        실시간<br>
                        예약하기</div>
                    <div class="reservation col-6">
                        <div class="m-3 d-flex text-white">
                            <div style="font-size: 30px; font-weight: bold;">
                                예약 확인
                            </div>
                        </div>
                        <div id="memberInput">
                            <div class="d-flex justify-content-center">
                                <div class="text-white">
                                    <div class="mt-2">
                                        이름:
                                    </div>
                                    <div class="mt-4">
                                        전화번호:&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="w-50">
                                    <div>
                                        <input id="nameInput" class="form-control" type="text">
                                    </div>
                                    <div class="mt-2">
                                        <input id="phoneNumberInput" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>    
                            <div class="d-flex justify-content-end p-5">
                                <button class="mt-3 btn btn-success" type="button" id="checkBtn">조회하기</button>
                            </div>                          
                        </div>
                    </div>
                    <div class="reservationNumber col-2 d-flex align-items-center justify-content-center text-white font-weight-bold">
                        예약문의:<br>
                        010-<br>
                        0000-1111
                    </div>
                </div>
            </section>
            <footer class="text-secondary m-4 bg-white">
                제주특별자치도 제주시 애월읍<br>
                사업자등록번호 : 111-22-255222 / 농어촌민박사업자지정 / 대표: 전진우<br>
                Copyright 2025 tongnamu All right reserved
            </footer>
        </div>




<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script>
	$(document).ready(function(){
	
	    // 회원 유효성 검사
	    $("#checkBtn").on("click", function(){
	
	        let name = $("#nameInput").val();
	        let phoneNumber = $("#phoneNumberInput").val();
	
	        if(name == ""){
	            alert("이름을 입력하세요.");
	            return;
	        }else if(phoneNumber == ""){
	            alert("전화번호를 입력하세요.");
	            return;
	        }

	        $.ajax({
	        	
				type:"get"
					, url:"/pension/check"
					, data:{"name":name, "phoneNumber":phoneNumber}
					, success:function(data){
						if(data.result == "success"){
							alert("이름 : " + data.booking.name + "\n날짜 : " + data.booking.date + "\n전화번호 : " + data.booking.phoneNumber);
						}else if(data.result == "fail"){
							alert("조회된 데이터가 없습니다!!");
						}
					}
					, error:function(){
						alert("확인 에러");
					}	        	
	        	
	        });
	        
	    });
	
	    // setInterval로 배너 이미지 변경
	    let imgList = [
	        "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg",
	        "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner2.jpg",
	        "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner3.jpg",
	        "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner4.jpg"
	    ];
	
	    var currentIndex = 0;
	
	    setInterval(function(){
	
	        currentIndex ++;
	
	        if(currentIndex == imgList.length){
	            currentIndex = 0;
	        }
	
	        $("#bannerImg").attr("src", imgList[currentIndex]);
	
	    }, 3000);
	
	});
</script>
</body>
</html>